.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;

  background: #111827;
  color: white;
}

nav {
  display: flex;
  gap: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.badge {
  background: red;
  border-radius: 50%;
  padding: 5px 10px;
}